sphinx>=2.0
myst-parser
# sphinx-favicon
sphinxcontrib-mermaid
sphinx-simplepdf
pillow
https://github.com/analogdevicesinc/doctools/releases/download/latest/adi-doctools.tar.gz
sphinxcontrib.wavedrom
