# Visual Studio
*.VC.db
*.VC.opendb

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.exp
*.iobj
*.ipdb
*.pdb

# Logs
*.lastbuildstate
*.tlog
*.log

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Python cache files
*.pyc

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# HTML
*.html

# Mac
.DS_Store

# Visual Studio Code
.vscode/

# Python Install Build Files
python/build/
python/dist/
python/src/dynamixel_sdk.egg-info/
