git+https://github.com/sdgtt/nebula.git@tfcollins/remove-netifaces
git+https://github.com/sdgtt/pybench.git

pytest
pytest-html==3.2.0
pytest-sugar
plotly
scipy<=1.12.0
pytest-dependency

git+https://github.com/analogdevicesinc/pyadi-dt.git@tfcollins/adsy1100
pyadi-jif[cplex] @ git+https://github.com/analogdevicesinc/pyadi-jif.git@tfcollins/ad9084

pandas
openpyxl
lexicon