name: Documentation Tests

on: [push, pull_request]

jobs:
  CheckDocs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          bash ./.github/scripts/install_libiio.sh
          bash ./.github/scripts/install_part_libs.sh
          bash ./.github/scripts/install_pydeps.sh
          pip install -r requirements_doc.txt

      - name: Check doc build
        run: |
          cd doc
          make html SPHINXOPTS="-W"
          cd ..

      - name: Check doc coverage
        run: |
          cd doc
          make coverage
          cat build/coverage/python.txt
          cat build/coverage/python.txt | wc -l | xargs -I % test % -eq 2
          cd ..

      - name: Check doc links
        run: |
          cd doc
          make linkcheck
          cd ..

      - name: Check missing docs
        run: |
          cd doc
          python check_for_missing.py

  CheckParts:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          bash ./.github/scripts/install_libiio.sh
          bash ./.github/scripts/install_part_libs.sh
          bash ./.github/scripts/install_pydeps.sh
          pip install -r requirements_doc.txt
          pip install invoke

      - name: Check if supported parts missing
        run: |
          invoke checkparts
